<header>
  <a routerLink="/home" class="logo">
    <img src="/assets/images/Logo.png" style="width: 50px;"> <span>MunicipalGO</span>
  </a>
  <nav>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/manage-reports" routerLinkActive="active">Manage Reports</a>
    <a routerLink="/manage-users" routerLinkActive="active">Manage Users</a>
  </nav>
  <div *ngIf="!isConnected">
    <a routerLink="/login" class="btn-login">Login</a>
  </div>

  <div *ngIf="isConnected">
    <a routerLink="/login" class="btn-login" (click)="logout()">Logout</a>
  </div>


  
</header>
