<div class="cropper-modal">
  <div class="cropper-overlay"></div>
  <div class="cropper-container">
    <div class="cropper-header">
      <h2>{{ 'PROFILE.CROP_PHOTO' | translate }}</h2>
    </div>
    
    <div class="cropper-content">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        [resizeToWidth]="300"
        [autoCrop]="true"
        format="jpeg"
        outputType="blob"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>
    
    <div class="cropper-actions">
      <button type="button" class="btn btn-secondary" (click)="cancel()" [disabled]="isUploading">
        {{ 'COMMON.CANCEL' | translate }}
      </button>
      <button type="button" class="btn btn-primary" [disabled]="isUploading" (click)="upload()">
        <i class="fas fa-upload" *ngIf="!isUploading"></i>
        <i class="fas fa-spinner fa-spin" *ngIf="isUploading"></i>
        {{ (isUploading ? 'COMMON.SAVING' : 'PROFILE.UPLOAD_PHOTO') | translate }}
      </button>
    </div>
  </div>
</div>
