<div class="login-page">
  <a routerLink="/home" class="logo-link">
    <div class="logo"><img src="/assets/images/Logo.png" style="width: 50px;"> MunicipaliGO</div>
  </a>
  
  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img src="/assets/images/LogoText.png" style="width: 200px;">  
        <p>{{ 'LOGIN.SUBTITLE' | translate }}</p>
      </div>

      <div *ngIf="authService.errorMessage != ''" style="color: red; padding: 0 0 30px 0; text-align: center;">{{ 'LOGIN.ERROR_MESSAGE' | translate }}</div>
      
      <form [formGroup]="formGroup" class="login-form">
        <div class="form-group">
          <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
          <input  type="email" id="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate" name="email" formControlName="email"/>
          @if(formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched) {
            <div style="color: red;">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</div>
            }

            @if(formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched) {
            <div style="color: red;">{{ 'LOGIN.EMAIL_INVALID' | translate }}</div>
            }
        </div>
        
        <div class="form-group">
          <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
          <input type="password" id="password" placeholder="••••••••" name="password" formControlName="password"/>
          @if(formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched) {
            <div style="color: red;">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</div>
            }
        </div>
        
        <!--
        <div class="form-options">
          <a href="javascript:void(0)" class="forgot-password" (click)="openForgotPasswordModal()">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>
        -->
        <button type="submit" [disabled]="!formGroup.valid || isLoading" class="btn-login" (click)="login()">
          <span *ngIf="!isLoading">{{ 'LOGIN.SIGN_IN' | translate }}</span>
          <div *ngIf="isLoading" class="loading-spinner">
            <div class="spinner"></div>
            <span class="loading-text">{{ 'LOGIN.SIGNING_IN' | translate }}</span>
          </div>
        </button>
      </form>  
    </div>
  </div>

  <!-- Force Reset Password Modal -->
  <app-force-reset-password-modal
    *ngIf="showResetPasswordModal"
    [currentPassword]="currentPassword"
    (passwordReset)="onPasswordReset()"
    (resetError)="onResetError($event)"
  ></app-force-reset-password-modal>

  <!-- Forgot Password Modal -->
  <app-forgot-password-modal
    *ngIf="showForgotPasswordModal"
    (close)="closeForgotPasswordModal()"
  ></app-forgot-password-modal>
</div>
