<div class="login-page">
  <a routerLink="/home" class="logo-link">
    <div class="logo"><img [src]="logoUrl" class="login-logo-img"> MunicipaliGO</div>
  </a>

  <div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img [src]="logoTextUrl" class="login-logo-text">
        <p>{{ 'LOGIN.SUBTITLE' | translate }}</p>
      </div>

      @if (sessionExpired()) {
        <div class="form-alert form-alert--warning login-error-message">{{ 'LOGIN.SESSION_EXPIRED' | translate }}</div>
      }

      @if (errorMessage() != '') {
        <div class="form-alert form-alert--error login-error-message">{{errorMessage()}}</div>
      }

      <form [formGroup]="formGroup" class="login-form">
        <div class="form-group">
          <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
          <input  type="email" id="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate" name="email" formControlName="email"/>
          @if(formGroup.get('email')?.hasError('required') && formGroup.get('email')?.touched) {
            <div class="form-error">{{ 'LOGIN.EMAIL_REQUIRED' | translate }}</div>
          }

          @if(formGroup.get('email')?.hasError('email') && formGroup.get('email')?.touched) {
            <div class="form-error">{{ 'LOGIN.EMAIL_INVALID' | translate }}</div>
          }
        </div>

        <div class="form-group">
          <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
          <input type="password" id="password" placeholder="••••••••" name="password" formControlName="password"/>
          @if(formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched) {
            <div class="form-error">{{ 'LOGIN.PASSWORD_REQUIRED' | translate }}</div>
          }
        </div>

        <div class="form-options">
          <a href="javascript:void(0)" class="forgot-password" (click)="openForgotPasswordModal()">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>
        </div>

        <button type="submit" [disabled]="!formGroup.valid || isLoading()" class="btn-login" (click)="login()">
          @if (!isLoading()) {
            <span>{{ 'LOGIN.SIGN_IN' | translate }}</span>
          }
          @if (isLoading()) {
            <div class="loading-spinner">
              <div class="spinner"></div>
              <span class="loading-text">{{ 'LOGIN.SIGNING_IN' | translate }}</span>
            </div>
          }
        </button>
      </form>
    </div>
  </div>

  <!-- Force Reset Password Modal -->
  @if (showResetPasswordModal()) {
    <app-force-reset-password-modal [currentPassword]="currentPassword()"
      (passwordReset)="onPasswordReset()"
      (resetError)="onResetError($event)"
     />
  }

  <!-- Forgot Password Modal -->
  @if (showForgotPasswordModal()) {
    <app-forgot-password-modal (close)="closeForgotPasswordModal()"
     />
  }
</div>
